.jumbotron {
    background-image: linear-gradient(to bottom right, red, black);
    height: 200px; 
   
}

.jumtrotron-h-one {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 8px black;

}

.jumbrotronp {
    text-align: center;
    color:white;
    text-shadow: 2px 2px 8px black;
}
/* button styling for jumbotron */
.btn{
    margin-right:10px;
}
.btn-outline-primary{
  border-color: white;
  color:white;
  background-color:transparent;
  margin-top:30px;
  font-weight:100;
}
.btn-outline-primary:hover{
  border-color: transparent;
  color:black;
  background-color:white;
}
.btn-outline-primary:active{
  border-color: transparent;
  color:black;
  background-color:white;
  padding:9px 20px 9px 20px;
}

/* BUTTON HEADER RIGHT */
.rightHeader{
    position: absolute;
    top: -15px;
    right: 8px;
  }
  /* BUTTON HEADER LEFT */
  .leftHeader{
    position: absolute;
    top: -15px;
    left: 20px;
  }
  
  .container a {
    text-decoration: none;
  }

  #carousel {
    width:640px;
    height:360px;
  }


  #recipes {
    max-width:500px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
  }

  .recipetext{
    font-size: 5px;
  }

  .recipeimages {
    display: flex;
    flex-wrap: wrap;
   

  }




.rowone {
  margin-left: 15px;
  border:1px solid red;
}

.col-sm {
  border: 2px solid red;
  margin-right: 20px;
  margin-bottom: 80px;
  border-radius: 2.5em;
  background: black;
}



body {
  background: black;
}

p {
  color: white;
}

h3 {
  color: white;
  text-shadow: 2px 2px 8px red;
}

h1 {
  color: white;
  text-shadow: 2px 2px 8px red;
}

.GTMh2 {
  color: white;
}

.h3GMT {
  margin-left: 20px;
  margin-top: 10px;
}

/* materialize footer */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  color: white;
  /* background-color:red; */
  text-align: center;
  width: 100%;
  background-image: linear-gradient(to bottom left, red, black);
}



form {
  padding: 15px 25px 15px 25px;
  max-width: 500px;
  max-height: 600px;
  border: 2px solid red;
  border-radius: 2.5em;
  overflow: scroll;
}

.inquirecontact {
  padding: 10px 20px 10px 20px;
  
  width: 500px;
  border: 2px solid red;
  border-radius: 2.5em;
  height: 350px;
}

.inquiretext {
  color: white;
  margin-left: 20px;
  letter-spacing: 1.5px;
}

.formlabel {  
color: white;
}
  