/* JUMBOTRON STYLE HERE */
.jumbotron{
  background: 
/* linear-gradient(
  rgba(255, 0, 0, 0.473), 
  rgba(0, 0, 0, 0.459)
), */
url(https://images.pexels.com/photos/841128/pexels-photo-841128.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
background-repeat: no-repeat;
background-attachment: fixed;
/* color:white !important; */
height: 200px;
background-size: cover;
}



/* .jumbotron {
    background-image: url(http://blog.anytimefitness.com/wp-content/uploads/2017/01/AMKT16990_Monday_HIIT_Header.jpg), linear-gradient(to bottom right, red, black);
    /* background-image: linear-gradient(to bottom right, red, black); */
    /* height: 200px;  */




.jumtrotron-h-one {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 8px black;

}

.jumbrotronp {
    text-align: center!important;
    color:white;
    text-shadow: 2px 2px 8px black;
}
/* button styling for jumbotron */
.btn{
    margin-right:10px;
}

.btn-outline-primary{
  border-color: white;
  color:white;
  /* background-color: rgb(255, 255, 255, .35); */
  margin-top:30px;
  font-weight:100;
}
.btn-outline-primary:hover{
  border-color: transparent;
  color:black;
  background-color:white;
}
.btn-outline-primary:active{
  border-color: transparent;
  color:black;
  background-color:white;
  padding:9px 20px 9px 20px;
}

.leftside {
  background: rgba(0, 0, 0, 0.664);
  color: white;
}
.leftside:hover{
  border-color: transparent;
  color:black;
  background-color:white;
}
.leftside:active{
  border-color: transparent;
  color:black;
  background-color:white;
  padding:9px 20px 9px 20px;
}

/* BUTTON HEADER RIGHT */
.rightHeader{
    position: absolute;
    top: -15px;
    right: 8px;
  }
  /* BUTTON HEADER LEFT */
  .leftHeader{
    position: absolute;
    top: -15px;
    left: 20px;
  }
  
  .container a {
    text-decoration: none;
  }

  #carousel {
    width:640px;
    height:360px;
  }


  #recipes {
    /* max-width:250px; */
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    margin-left: 0px;
    padding-left: 0px;
  }

  .recipetext{
    font-size: 5px;
  }




.rowone {
  margin-left: 15px;
  border:1px solid red;
}

.col-sm {
  border: 2px solid red;
  margin-right: 20px;
  margin-bottom: 80px;
  border-radius: 2.5em;
  background: black;
}



body {
  background: black;
}

p {
  color: white;
}

h3 {
  color: white;
  text-shadow: 2px 2px 8px red;
}

h1 {
  color: white;
  text-shadow: 2px 2px 8px black;
}

.GTMh2 {
  color: white;
}

.h3GMT {
  margin-left: 20px;
  margin-top: 10px;
}

/* materialize footer */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  color: white;
  /* background-color:red; */
  text-align: center;
  width: 100%;
  background-image: linear-gradient(to bottom left, red, black);
}



form {
  padding: 15px 25px 15px 25px;
  max-width: 500px;
  max-height: 600px;
  border: 2px solid red;
  border-radius: 2.5em;
  overflow: auto;
}

.inquirecontact {
  padding: 10px 20px 10px 20px;
  
  width: 500px;
  border: 2px solid red;
  border-radius: 2.5em;
  height: 350px;
}

.inquiretext {
  color: white;
  margin-left: 20px;
  letter-spacing: 1.5px;
}

.formlabel {  
color: white;
}


#btn {
  position: absolute;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


#recipe-form {
  background: white;
}
#exercise-form{
  background: white;

}


.card-text {
  color: white;
  text-align: center;
  padding-top: 10px;
}

.btn-danger {
  background: lightslategray;
  border: 1px lightslategrey solid
}
.btn-danger:hover {
  background: lightslategray;
  border: 1px lightslategrey solid


}
.card-body {
  padding: 0px;
  padding-right: 0px;
  padding-top: 0px;
  margin-top: 0px;
}

.card {
  background: black;
  height:338px;

}
  
.card-body {
  background: black;
  max-height: 335px;
}
.recipeCard {
  margin-right: 15px;
  max-width: 190px;
}


