.jumbotron {
    background-image: linear-gradient(to bottom right, red, black);
    height: 200px; 
}

.jumtrotron-h-one {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 8px black;
}

.jumbrotronp {
    text-align: center;
    color:white;
    text-shadow: 2px 2px 8px black;
}
/* button styling for jumbotron */
.btn{
    margin-right:10px;
}
.btn-outline-primary{
  border-color: white;
  color:white;
  background-color:transparent;
  margin-top:30px;
  font-weight:100;
}
.btn-outline-primary:hover{
  border-color: transparent;
  color:black;
  background-color:white;
}
.btn-outline-primary:active{
  border-color: transparent;
  color:black;
  background-color:white;
  padding:9px 20px 9px 20px;
}

/* BUTTON HEADER RIGHT */
.rightHeader{
    position: absolute;
    top: -15px;
    right: 8px;
  }
  /* BUTTON HEADER LEFT */
  .leftHeader{
    position: absolute;
    top: -15px;
    left: 20px;
  }
  
  .container a {
    text-decoration: none;
  }

  #carousel {
    width:640px;
    height:360px;
  }


  #recipes {
    max-width:40%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
  }

  .recipetext{
    font-size: 5px;
  }

  .recipeimages {
    display: flex;
    flex-wrap: wrap;
    max-width:120px;
    max-height: 100px;
    overflow: auto;
  }

.footer {
  background: black;
 height: 60px;
  text-align: center;
  /* position: fixed; */
  
}

.rowone {
  margin-left: 15px;
  border:1px solid red;
}

.col-sm {
  border: 2px solid red;
  margin-right: 15px;
  margin-bottom: 80px;
  border-radius: 2em;
  background: grey;
}

.footerp {
  color: white;
  text-align: center;
}

body {
  background: black;
}

p {
  color: white;
}

h3 {
  color: white;
  text-shadow: 2px 2px 8px red;
}

h1 {
  color: white;
  text-shadow: 2px 2px 8px red;
}

